@{
    string errorMsg = Convert.ToString(TempData["Error"]);
    string successMsg = Convert.ToString(TempData["Success"]);
}

@if(errorMsg == "" && successMsg == "") return;

<div class="row justify-content-end">
    <div class="alert @(errorMsg == "" ? "alert-success" : "alert-danger") alert-dismissible fade show mx-5 my-3 col-3" role="alert">
    @if (!string.IsNullOrEmpty(errorMsg))
    {
        @errorMsg
    }
    else if (!string.IsNullOrEmpty(successMsg))
    {
        @successMsg  
    }
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="z-index:1;"></button>

    </div>
</div>
