@using MyTrainingPal.Domain.Entities
@using MyTrainingPal.Domain.Enums
@using MyTrainingPal.Service.DTO.Workouts
@model WorkoutGetDTO

<a class="my-5 openbtn rounded text-decoration-none bg-dark" asp-action="Index">←</a>

<div class="exercise-viewer mb-2 mt-2">
    <img src="@Model.Sets[0].Exercise.VideoUrl" class="exercise-fullsize rounded" id="mainVideo"/>
</div>

<div id="workout-exercises">
    <partial name="_OnGoingExercisePartial" model="@Model" />
</div>


